<!-- Main jumbotron for a primary marketing message or call to action -->



    <div class="jumbotron">
      <div class="container">
        <h2 align="center">Gráfico {{grafico.nombre.nombre}}</h2>
        <input type="" ng-if="usuarioActual.perfil.perfil === 'admin'" ng-change="editarTemperatura(grafico)" ng-model="grafica.name" name="">
      </div>
    </div>

    <div class="container">

        <div class="row">
            <!-- <div class="col-md-8 borde-grafico"> -->

            <div align="center">


  <div excel-export export-data="exportData" file-name="{{fileName}}"></div>

                <ng-dygraphs ng-if="graph.data.length" style="height:650px; width: 1100px"
                             data="graph.data"
                             options="graph.options" >
                </ng-dygraphs>
                
            </div>
        </div>

<div id="cargando">

</div>

       
    </div> <!-- /container -->

<div class="footer">
   <nav class="navbar navbar-inverse" ng-controller="NavCtrl" style=" bottom: 0; width: 100%; position: static; border-top: 5px; color: white" >
  <div class="container-fluid">
    <div class="navbar-header" align="center">
    <div align="text-center">
<p></p>
<p align="center">&copy;Tecno - CO2 2016, Todos los derechos reservados -- Información de contacto: <a href="mailto:contacto@ite.cl" style="color:black">contacto@ite.cl</a>.</p>
    
</div>
    </div>
    </div>
    </nav>
</div>