<!-- Main jumbotron for a primary marketing message or call to action -->



    <div class="jumbotron">
      <div class="container">
        <h2 align="center">Gráfico {{grafico.nombre.nombre}}</h2>
        <input type="" ng-if="admin" ng-change="editarTemperatura(grafico)" ng-model="grafica.name" name="">
      </div>
    </div>

    <div class="container">

        <div class="row">
            <!-- <div class="col-md-8 borde-grafico"> -->

            <div align="center">


  <div excel-export export-data="exportData" file-name="{{fileName}}"></div>

                <ng-dygraphs ng-if="graph.data.length" style="height:650px; width: 1100px"
                             data="graph.data"
                             options="graph.options" >
                </ng-dygraphs>
                
            </div>
        </div>

<div id="cargando">

</div>

       
    </div> <!-- /container -->

