<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
 

 <div class="container">
  <h1 class="text-center">En Construcción</h1>

   <!-- <div class="auth-form">
    <form ng-submit="sesion(usuario)" class="form-horizontal">
     <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" ng-model="usuario.nombre" class="form-control" id="inputEmail3" placeholder="Nombre">
        </div>
      </div> 
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" ng-model="usuario.email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" ng-model="usuario.password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Ingresar</button>
        </div>
      </div>
    </form>
  </div>
</div>
    </div>-->

    <!-- <div class="container">
      Example row of columns 
      <div class="row">
        <div class="col-md-4">
          <h2>Seguridad</h2>
          <p> ...... </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Rapidez</h2>
          <p>.........</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Confianza</h2>
          <p>.........</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>



<h1 class="text-center">Iniciar sesion</h1>

  <div class="auth-form">
    <form ng-submit="sesion(usuario)" class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" ng-model="usuario.nombre" class="form-control" id="inputEmail3" placeholder="Nombre">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" ng-model="usuario.email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" ng-model="usuario.password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Ingresar</button>
        </div>
      </div>
    </form>
  </div>


        
      </div>



      <hr>
     <footer align="center"  style = "color: black; bottom: 0; height: 65px; position: absolute; border: 2px solid #000; background: #0D75EC
    ">
        <p>&copy;Tecno - Co2 2016, Todos los derechos reservados.</p>

 <p>Información de contacto: <a href="mailto:contacto@ite.cl">contacto@ite.cl</a>.</p>
</footer>

     -->




<!--
<div class="container-fluid" id="footer"> 

<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <p>&copy;Tecno - Co2 2016, Todos los derechos reservadoos.</p>


  </div>-->

</div>
  


</div>

    </div> <!-- /container -->
  